################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/D3D11Starter/x64/Debug
/x64/Debug
/D3D11Starter/x64/Release
